.navbar {
  min-height: $nav-logo-size;
  background: url('/static/assets/images/gyg-logo.svg') no-repeat left center;
  background-size: 50px;

  &-nav {
    margin-left: calc(#{$nav-logo-size} * 2);
  }
}
