.sidebar {
  transition: left $transition-speed;
  background-color: map-get($theme-colors, 'white');
  z-index: 5000;

  position: fixed;
  top: 0;
  bottom: 0;
  min-width: $sidebar-width;
  max-width: $sidebar-width;
  left: -$sidebar-width;

  &-links {
    padding-top: 30px;
    a {
      text-decoration: none;
      color: map-get($theme-colors, 'ui-slate');
      &:hover, &:focus, &.active {
        color: darken(map-get($theme-colors, 'ui-slate'), 20%);
      }
    }
  }

  .toggle-sidebar {
    transition: width $transition-speed;
    background: none;
    border: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}

body {
  &.sidebar-active {
    .sidebar {
      left: 0;
    }
  }
}
