.table {
   display: table;
   width: 100%;

   .table-th {
      display: table-row;
      font-weight: bold;
   }

   .table-tr {
     display: table-row;
     border-bottom: 1px solid map-get($theme-colors, 'light-slate');
     cursor: pointer;

     &:hover, &:active {
       background-color: map-get($theme-colors, 'light-ash');
     }

     &:nth-child(odd) {
       background-color: map-get($theme-colors, 'light-ash');
       &:hover, &:active {
         background-color: darken(map-get($theme-colors, 'light-ash'), 5%);
       }
     }

     &:last-child .table-td {
       border: 0;
     }
   }

   .table-td {
     font-size: map-get($font-size-map, 'xxs');
     display: table-cell;
     padding: 15px;
     border-bottom: 1px solid map-get($theme-colors, 'light-slate');
   }
}
