<div class="sidebar p-3 d-flex d-md-none flex-column" data-component="sidebar">
  <button data-control="toggle-sidebar" class="align-self-end toggle-sidebar p-0 m-0" type="button">
    <i class="material-icons font-size-md">close</i>
  </button>
  <ul class="sidebar-links list-unstyled">
    <li>
      <a class="d-block py-2 my-2" href="#">Features</a>
    </li>
    <li>
      <a class="d-block py-2 my-2" href="#">Running Experiments</a>
    </li>
    <li>
      <a class="d-block py-2 my-2" href="#">Past Experiments</a>
    </li>
    <li>
      <a class="d-block py-2 my-2" href="#">Recipes</a>
    </li>
  </ul>
</div>
