<div class="bg-color-white fixed-top px-4">
  <nav class="navbar navbar-expand-md p-0">
    <div class="collapse navbar-collapse justify-content-between" id="site-navbar-primary">
      <div class="navbar-nav font-size-xs py-4 flex-row">
        <a class="nav-item nav-link mr-lg-4" href="#">Features</a>
        <a class="nav-item nav-link mr-lg-4" href="#">Running Experiments</a>
        <a class="nav-item nav-link mr-lg-4" href="#">Past Experiments</a>
        <a class="nav-item nav-link" href="#">Recipes</a>
      </div>
      <div class="align-self-right">
        <a class="nav-item nav-link" href="#">Search</a>
      </div>
    </div>
  </nav>
</div>
