<main role="main" class="pt-4 px-0 main-container container">
  <section class="mb-5 px-3 px-sm-0">
    <header class="page-heading">
      <h1 class="font-size-md">TW-Reviews-ReviewerProfilePhoto</h1>
      <p class="mb-3 font-size-xxs d-flex flex-row color-ui-slate">
        <span class="status status-success mr-3">Active</span>
        Last assignment: 2 minutes ago
      </p>
    </header>
    <div class="d-flex flex-row">
      <div class="badge mr-2">Reviews</div>
      <div class="badge mr-2">Photos</div>
      <div class="badge mr-2">Profile Photos</div>
      <div class="badge badge-light"><i class="material-icons mr-1">add</i> Add Keyword</div>
    </div>
  </section>

  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link d-flex flex-row active" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true" href="#">
          <i class="material-icons font-size-xxs mr-2">subject</i>Details
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex flex-row" id="variations-tab" data-toggle="tab" href="#variations" role="tab" aria-controls="variations" aria-selected="true" href="#">
          Variations
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex flex-row" id="targeting-tab" data-toggle="tab" href="#targeting" role="tab" aria-controls="targeting" aria-selected="true" href="#">
          Targeting
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex flex-row" id="distribution-tab" data-toggle="tab" href="#distribution" role="tab" aria-controls="mobile" aria-selected="true" href="#">
          Distribution
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex flex-row" id="concept-tab" data-toggle="tab" href="#concept" role="tab" aria-controls="concept" aria-selected="true" href="#">
          Concept
        </a>
      </li>
    </ul>
  </nav>

  <section class="bg-color-white py-4">
    <div class="tab-content mb-5" id="myTabContent">
      <% include ../tabs/details.ejs %>
      <% include ../tabs/variations.ejs %>
      <% include ../tabs/targeting.ejs %>
      <% include ../tabs/distribution.ejs %>
      <% include ../tabs/concept.ejs %>
    </div>
  </section>
</main>
