<main role="main" class="pt-4 main-container">
  <section class="container">
    <div class="page-heading">
      <h1 class="font-size-md">TW-Reviews-ReviewerProfilePhoto</h1>
      <p class="mb-3 font-size-xxs d-flex flex-row color-ui-slate">
        <span class="status status-active mr-3">Active</span>
        Last assignment: 2 minutes ago
      </p>
      <div class="d-flex flex-row">
        <div class="badge mr-2">Reviews</div>
        <div class="badge mr-2">Photos</div>
        <div class="badge mr-2">Profile Photos</div>
        <div class="badge badge-light"><i class="material-icons mr-1">add</i> Add Keyword</div>
      </div>
    </div>
  </section>
</main>
