<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../components/site-navbar.ejs %>
  <%- include('./' + file + '.ejs') %>
  <% include ../components/site-sidebar.ejs %>
</body>
</html>
