<main role="main" class="pt-4 px-0 main-container container">
  <section class="mb-4 px-3 px-sm-0">
    <header class="page-heading d-flex flex-direction-row align-items-center">
      <h1 class="font-size-md mb-0 mr-3">TW-Reviews-ReviewerProfilePhoto</h1>
      <p class="font-size-xxs color-ui-slate mb-0">
        9 Experiments
      </p>
    </header>
  </section>

  <section class="bg-color-white py-4 px-3">
    <div class="table mb-4">
      <div class="table-th">
        <div class="table-td">Variation</div>
        <div class="table-td">Observed Lift</div>
        <div class="table-td">Sample Size</div>
        <div class="table-td">Status</div>
      </div>
      <div class="table-tr">
        <div class="table-td">A</div>
        <div class="table-td"><span class="text-success">+2.53%</span></div>
        <div class="table-td">10,121</div>
        <div class="table-td">Ongoing</div>
      </div>
      <div class="table-tr">
        <div class="table-td">A</div>
        <div class="table-td"><span class="text-success">+2.53%</span></div>
        <div class="table-td">10,121</div>
        <div class="table-td">Ongoing</div>
      </div>
      <div class="table-tr">
        <div class="table-td">A</div>
        <div class="table-td"><span class="text-warning">+2.53%</span></div>
        <div class="table-td">10,121</div>
        <div class="table-td">Ongoing</div>
      </div>
      <div class="table-tr">
        <div class="table-td">A</div>
        <div class="table-td"><span class="text-success">+2.53%</span></div>
        <div class="table-td">10,121</div>
        <div class="table-td">Ongoing</div>
      </div>
      <div class="table-tr">
        <div class="table-td">A</div>
        <div class="table-td"><span class="text-success">+2.53%</span></div>
        <div class="table-td">10,121</div>
        <div class="table-td">Ongoing</div>
      </div>
      <div class="table-tr">
        <div class="table-td">A</div>
        <div class="table-td"><span class="text-warning">+2.53%</span></div>
        <div class="table-td">10,121</div>
        <div class="table-td">Ongoing</div>
      </div>
    </div>

    <nav class="pagination pl-3 pr-3">
      <ul class="d-flex list flex-row justify-content-end list-unstyled mb-0">
        <li class="pagination-item">
          <a href="#">Prev</a>
        </li>
        <li class="pagination-item">
          <a href="#">1</a>
        </li>
        <li class="pagination-item">
          <a href="#">2</a>
        </li>
        <li class="pagination-item">
          <a href="#">3</a>
        </li>
        <li class="pagination-item active">
          <a>4</a>
        </li>
        <li class="pagination-item">
          <a disabled="disabled" class="disabled">Next</a>
        </li>
      </ul>
    </nav>
  </section>
</main>
